<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/cadastro_usuario.css">
    <title>Cadastro de usuario</title>
</head>
<body>
    <p id="logInfo"></p> 
    <button id="btnVoltarHome">Voltar</button>
    <div>
        <h1>Cadastro de Usuario</h1>
        <p>Realize o cadastro para acessar os recursos do sistema.</p>
        <input id="inputNome" type="text" placeholder="Nome" required>
        <input id="inputEmail" type="text" placeholder="Email" required>
        <input id="inputSenha" type="text" placeholder="Senha" required>
        <button id="btn-enviar">Enviar</button>
    </div>
    <script src="../scripts/cadastroUsuario.js"></script>
</body>
</html>