<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/cadastro-contas.css">
    <title>Cadastro de Contas a pagar</title>
</head>
<body>
    <button>Voltar</button>
    <div>
        <h1>Cadastro de contas</h1>
        <p>Cadastre uma conta para gerencia-lá</p>
        <p id="logInfo"></p>
        <input id="inputTitle" type="text" placeholder="título" required>
        <input id="inputAmount" type="text" placeholder="valor" required>
        <button id="btn-cadastrar">Cadastrar</button>
    </div>
    <script src="../scripts/cadastroConta.js"></script>
</body>
</html>