<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/login.css">
    <title>Login</title>
</head>
<body>
    <div id="container">
        <h2>Login</h2>
        <input id="inputEmail" type="text" placeholder="Email" required>
        <input id="inputSenha" type="password" placeholder="Senha" required>
        <a>Esqueci minha senha</a>
        <a href="../views/cadastro-usuario.html">Cadastre-se</a>
        <button id="btnEnviar">Entrar</button>
        <h3 id="logError"></h3>
    </div>
    <script src="../scripts/login.js"></script>
</body>
</html>